/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap');

/* Color */
/* -------------------------------------- */
:root {
	--grey: #eceef1;
	--darkGrey: #8f8f8f;
	--blue: #0077c5;
	--darkerGrey: #5d5360;
	--greyBorder: #c7c7c7;
	--greyInputBorder: #c6c7cc;
	--buttonBorder: #4c4c4c;
}

/* Layout of Pages */
/* -------------------------------------- */
html,
body {
	box-sizing: border-box;
	height: 100%;
	background-color: var(--grey);
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Links */
/* -------------------------------------- */
a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */
/* -------------------------------------- */
.sign-in-container {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	margin-top: 1rem;
	margin-right: 2rem;
}

/* Logos */
/* -------------------------------------- */
.logos-container {
	text-align: center;
}

.products-container {
	display: flex;
	justify-content: center;
}

.products-logo-container {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.products-logo-container .logo {
	height: 1.7rem;
}

.products-logo-container .logo-text {
	height: 1rem;
}

.products-container img {
	height: 1.3rem;
}

#quickbooks-logo-text {
	height: 1.3rem;
}

#intuit-logo {
	height: 7.188rem;
	margin-bottom: -2.063rem;
}

/* Sign Up Form */
/* -------------------------------------- */
form {
	background-color: white;
	border: 1px solid var(--greyBorder);
	margin: auto;
	padding: 1.875rem;
	width: 45.5%;
	width: 380px;
	margin-top: 1rem;
	text-align: center;
	border-radius: 0.2rem;
}

form h1 {
	font-weight: 900;
	font-size: x-large;
	margin-bottom: 1.5rem;
}

.sign-up-inputs {
	text-align: left;
}

.sign-up-inputs label {
	display: block;
	padding: 1rem 0 1rem 0;
}

.sign-up-inputs input {
	background: white;
	border: 1px solid var(--greyInputBorder);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
	font-family: 'Montserrat', sans-serif;
	padding: 0.5rem;
	margin-top: 6px;
	width: -webkit-fill-available;
	border-radius: 0.188rem;
}

/* Create Account Section in Form */
/* -------------------------------------- */
.create-account-container {
	margin-top: 1rem;
}

.create-account-container button {
	width: 100%;
}

.create-account-container button span {
	font-size: 1rem;
}

/* Privacy and Captcha In Form */
/* -------------------------------------- */
.privacy-container {
	margin-top: 1.5rem;
}

.privacy-container p {
	font-style: italic;
	color: var(--darkerGrey);
	font-size: 0.8rem;
}

#updates {
	font-weight: bold;
	margin-top: 1rem;
}

.recaptcha-container {
	background-color: var(--grey);
	margin: 32px -30px -30px -30px;
	padding: 1rem;
}

.recaptcha-container p {
	color: var(--darkerGrey);
	font-size: 0.7rem;
}

/* Copy Right Container */
/* -------------------------------------- */
.copyright-container {
	margin-top: 2rem;
	margin-bottom: 5rem;
	text-align: center;
	font-size: 0.7rem;
	font-weight: 500;
}

.copyright-links-container a {
	color: inherit;
	margin-left: 1rem;
}

.all-rights-container p {
	margin-top: 0.5rem;
}

/* Footer */
/* -------------------------------------- */
footer {
	background-color: white;
	padding: 2rem;
}

footer p {
	color: var(--blue);
	font-size: 0.8rem;
	font-weight: 600;
}

/* Locks Found in Buttons */
/* -------------------------------------- */
.lock {
	font-size: 1.5rem;
}

/* Buttons */
/* -------------------------------------- */
button {
	background-color: var(--blue);
	font-size: 13.5px;
	padding: 0.25rem 1.25rem;
	color: white;
	border: 1px solid var(--buttonBorder);
	border-radius: 4px;
}
